@charset "ISO-8859-1";
.site-profile {
	display: grid;
	text-align: center;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	color: #131313;
	padding: 10px 20px;
	min-width: 153px;
	border-radius: 50px;
	font-weight: normal;
	border: none;
	background: #ffb320;
	cursor: pointer;
	text-decoration: none;
	margin-left: 2%;
	margin-right: 2%;
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.site-profile:hover {
	color: white;
}

@media(max-width: 1200px) {
	.center {
	width: 100%;
	}
}
